/* Change this for hover color of social buttons */
a:focus, a:hover {
	color: #db0000;
}

#mainNav .navbar-nav > li.nav-item > a {
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}